body{
    background: #D7BDE2;
    margin: 0;
    font-family: monospace;

}
h1{
    color: #17202A;
    text-align: center;

}
p{
    color: #17202A;
    text-align: center;
    font-size: 20px;
}

/*estilos de la galeria */
.galeria{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li{
    margin: 5PX;
}


 .galeria img{
    width: 850px;
    height: 700px;
}

#perro{
    background-color: darkgreen;
    width: 150px;
    height: 50px;
    border-color: azure;
    border-radius: 25px;
    color: azure;
}
#perro:hover{
    background-color: crimson;
}

#seleccion{
    background-color: lavender;
    width: 150;
    height: 50px;
    border-color: midnightblue;
    border-radius: 25px;
    color: rgb(48, 104, 187);
}

#perro:hover{
    background-color: violet;
}

#archivo{
    background-color: darkgreen;
    width: 150px;
    height: 50px;
    border-color: azure;
    border-radius: 25px;
    color: azure;

}
#archivor:hover{
    background-color: crimson;
}