#exit_T
{
    background-color: red;
    border-color: black;
    color: white;
    position: absolute;
    top: 5px;
    left: 665px;
}

#exit
{
    background-color: red;
    border-color: black;
    color: white;
    position: absolute;
    top: 5px;
    left: 685px;
}

#exit:hover, #exit_T:hover
{
    border-color: white;
}

#xUnoP, #yUnoP, #xUnoS, #yUnoS, #coloron, #color_C
{
    text-align: center;
    border: 2px solid;
}
#uno, #dos
{
    text-align: center;
    border: 2px solid;
    width: 50px;
}

#coor:hover, #mouse:hover, #teclas:hover
{
    background-color: red;
    border-color: white;
}

#ventana_C
{
    background-color: aqua;
    border: 1px solid;
    border-color: black;
    width: 700px;
    height: 185px;
    border-radius: 20px;
    position: absolute;
    top:540px;
    left:300px;
    color: black;
    display: none;
}

#button_C:hover, #ya:hover
{
    color: black;
    background-color: yellow;
    border-color: gray;
}

#button_C, #coor, #mouse, #teclas, #ya
{
    width: 150px;
    height: 30px;
    background-color: gray;
    border-color: black;
    color: white;
    font-family: Arial;
    border-radius: 10px;    
}

body
{
    text-align: center;
    background-color: orange;
    font-family: Arial;
    color: white;    
}

#ventana
{
    color: white;
    border-radius: 20px;
    position: absolute;
    top:540px;
    left:300px;
    width:700px;
    height:185px;
    overflow: hidden;
    background-color: red;
    padding:10px;
    text-align:center;
    display: none;
}
#puntoDeArranque
{
    border-collapse: collapse;
    background-color: white;
    float: left;
    border: 2px solid;
}
#puntoDeArranque td
{
    border-color: black;
    background-color: gray;
    font-family: Arial;
    color: white;
    border: 2px solid;
}
#puntoDeLlegada
{
    border-collapse: collapse;
    background-color: white;
    float: left;
    border: 2px solid;
}
#puntoDeLlegada td
{
    border-color: black;
    background-color: gray;
    font-family: Arial;
    color: white;
    border: 2px solid;
}
#contexto
{
    border-radius: 25px;
    background-color: white;
}
h1, h3, p
{
    background-color: black;
}